body
{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12pt;
  font-weight: 400;
  width: 650px;
}

h2 {
  text-align: center;
  letter-spacing: 0.10em;
  font-size: 1.5em;
  font-weight: 700;
  color: #3f3f3f;
  margin: 0;
  padding: 0;
}
label {
  display: inline-block;
  width: 325px;
  text-align: right
}
 table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
 table thead {
  background: #444;
  color: #fff;
}
 table thead td {
  cursor: pointer;
  width: 120px;
}
 table td {
  padding: .5em 1em;
}
 table tbody tr:nth-child(even) {
  background: #ddd;
}

.tooltip {
  position: absolute;
  pointer-events: none;
  font-size: 12pt;
  font-weight: 600;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  text-align: center;
}

