text {
  font: 10px sans-serif;
}

.legend {
  font-size: 12px;
}

.points:hover {
  fill: rgba(0, 0, 0, 0.8);
}

.axis line {
  stroke: #000;
}

.axis path,
.grid path {
  display: none;
}

.grid-background {
  fill: #ddd;
}

.grid line {
  stroke: #fff;
}

.grid .minor line {
  stroke-opacity: .5;
}

.grid text {
  display: none;
}
