<div class="content-wrap page">
<div class="content">
<section class="section">
  <article>
    <div class="page-header">
      <h1>
        {% if page.cTitle %} 
          {{ page.cTitle }}
        {% endif %}
        <small>
          {% if page.tagline %}
            {{page.tagline}}
          {% endif %}
        </small>
      </h1>
    </div>
    <!-- <h1 class="title">
      {% if page.cTitle %} 
        {{ page.cTitle }}
      {% endif %}
    </h1>
    <div class="page-header">
      <h2>
        
      </h2>
    </div>  -->   
    <div class="tag-list mbl">
      分類：<a class="label" href="/categories.html#{{ post.category }}-ref">{{ page.category }}</a>
      <time class="post-time">{{ page.date | date_to_long_string }}</time>
    </div>

      {{ content }}

    <div class="">
      <div
        class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true">
      </div>
      <div class="g-plusone" data-annotation="inline" data-width="300"></div>
      <script src="https://apis.google.com/js/platform.js" async defer>
        {lang: 'zh-TW'}
      </script>
    </div>
    <div class="pager">
    {% if page.previous %}
    <li class="previous">
      <a href="{{ BASE_PATH }}{{ page.previous.url }}">
        <span aria-hidden="true">&larr;</span>
        <span>{{ page.previous.cTitle }}</span>
      </a>
    </li>
    {% else %}
      <!--if not-->
    {% endif %}
    {% if page.next %}
    <li class="next">
      <a href="{{ BASE_PATH }}{{ page.next.url }}" >
        <span>{{ page.next.cTitle }}</span>
        <span aria-hidden="true">&rarr;</span>
      </a>
    </li>
    
    {% else %}
      <!--if not-->
    {% endif %}
  </div>
    <hr>
    {% include JB/comments %}
  </article>      
</section>

 


</div>

  


<!-- 
<aside class="aside"> 
    <h4>Related Posts</h4>
    <ul class="recent-box">
      {% for post in site.related_posts limit:5 %}
      <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.cTitle }}</a></li>
      {% endfor %}
    </ul>

    <h4>Recent Posts</h4>
    <ul class="recent-box">
      {% for post in site.posts limit:5 %}
      <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.cTitle }}</a></li>
      {% endfor %}
    </ul> 

    <h4>Tags</h4>
    {% unless page.categories == empty %}
    <ul class="tag-box">
      {% assign categories_list = page.categories %}
      {% include JB/categories_list %}
    </ul>
    {% endunless %} 
  
    {% unless page.tags == empty %}
      <ul class="tag-box">
        {% assign tags_list = page.tags %}
        {% include JB/tags_list %}
      </ul>
    {% endunless %}  
  </aside> -->


  
</div>