<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
 <script src=" https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script>
var app = angular.module('tableJS', []);
app.controller('ctrl_1', function($scope) {
  $scope.input = [{name: 'moe', age: 40, birth: '19750222'}, {name: 'larry', age: 50, birth: '19651217'}, {name: 'curly', age: 60, birth: '19650617'},
    {name: 'cele', age: 25, birth: '19900326'}, {name: 'sandler', age: 72, birth: '19530111'}, {name: 'sala', age: 18, birth: '19980809'}];
  $scope.sort_rev = true;
  // $scope.inputColName = $scope.input[0].keys();
  $scope.sort_count = 0;
  angular.forEach($scope.input, function(x){
    x.showValue = false;
  })

  $scope.sort1 = function(){
    if ($scope.order == '-name')
      $scope.sort_rev = !$scope.sort_rev;
    $scope.order = '-name';
  }

  $scope.sort2 = function(){
    if ($scope.order == '-age')
      $scope.sort_rev = !$scope.sort_rev;
    $scope.order = '-age';
  }

  $scope.hide_f = function(item){
    item.showValue = true;
  }

  $scope.reset = function(){
    angular.forEach($scope.input, function(x){
      x.showValue = false;
    })
    $scope.display_col1 = false;
    $scope.display_col2 = false;
  }
});
</script>
<style>
table {
  border: 1px solid grey;
  border-collapse: collapse;
  border-spacing: 0;
}
table thead {
  background: #444;
  color: #fff;
}
table thead td {
  cursor: pointer;
}
table td {
  padding: .5em 1em;
}
</style>
  <title>Test for AngularJS</title>
</head>
<body>
<div ng-app="tableJS" ng-controller="ctrl_1">
    <table>
      <tr>
        <td ng-hide="display_col1">Age<button ng-click="sort1()">Sort</button></td>
        <td ng-hide="display_col2">Name<button ng-click="sort2()">Sort</button></td>
        <td><button ng-click="reset()">Reset</button></td>
      </tr>
      <tr ng-repeat="x in input | orderBy: order: sort_rev" ng-hide="x.showValue">
        <td ng-hide="display_col1">{{ x.name }}</td>
        <td ng-hide="display_col2">{{ x.age  }}</td>
        <td><button ng-click="hide_f(x)">Delete</button></td>
      </tr>
      <tr>
        <td ng-hide="display_col1">
          <button ng-click="display_col1 = !display_col1">Delete</button>
        </td>
        <td ng-hide="display_col2">
          <button ng-click="display_col2 = !display_col2">Delete</button>
        </td>
        <td></td>
      </tr>
    </table>
</div>
</body>
</html>
